$font-size-base: 0.875rem !default; // Assumes the browser default, typically `16px`
$font-weight-bold: 600 !default;
$btn-font-weight: 600 !default;
$nav-link-font-weight: 600 !default;
$badge-font-weight: $font-weight-bold !default;
$success-dark: #1b9e3e !default;
$form-label-color: rgba(44, 56, 74, 0.6175);
$form-floating-label-opacity: 1;
